Package: indicator-stickynotes
Version: 0.3.1-0~ppa1
Architecture: all
Maintainer: Umang Varma <umang.me@gmail.com>
Installed-Size: 269
Depends: python3 (>= 3.2), python3-gi | python3-gobject, libgtksourceview-3.0-0, gir1.2-appindicator3-0.1, gir1.2-gtksource-3.0
Section: python
Priority: optional
Homepage: https://launchpad.net/indicator-stickynotes
Description: Sticky Notes AppIndicator
 Indicator Stickynotes helps you jot down thoughts, write lists, and make
 reminders quickly.
